.container-sobre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-sobre img {
  margin-top: 70px;
}

.container-sobre h2 {
  margin-top: 70px;
}

.list-calculo {
  margin-top: 30px;
}

.about-fess {
  max-width: 30%;
}

.text-formula {
  font-weight: bold;
}

@media (max-width: 640px) {
  .about-fess {
    max-width: 80%;
    text-align: center;
  }

  .container-sobre img {
    width: 300px;
  }

  .container-sobre {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
