.container-input {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
}

.container-simulation h2 {
  text-align: center;
  margin-top: 70px;
}
.container-input input {
  margin-bottom: 10px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #3cba92;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  opacity: 0.8;
}

.btn-register {
  margin-top: 30px;
}