.container-simulation {
  max-width: 50%;
  margin: auto;
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 80px;
}

.container-simulation h2 {
  text-align: center;
  margin-top: 70px;
}

.container-simulation h3 {
  text-align: center;
}

.container-input input {
  margin-bottom: 10px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #3cba92;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  opacity: 0.8;
}

.btn-register {
  margin-top: 30px;
}

.container-btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.btn-simulation {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  border: none;
  height: 60px;
  width: 300px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #f2f2f2;
  cursor: pointer;
  text-decoration: none;
  background-color: #00994d;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.result {
  text-align: center;
}
